@import "compass";

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    overflow: hidden;
}

.top-wrapper {
    padding: 200px 0;
    width: 100%;
    background-image: url(../images/Background.png);
    background-size: cover;
    text-align: center;
    color: white;
    font-family: sans-serif;
    position: relative;
}

.top-wrapper h1 {
    font-size: 60px;
    letter-spacing: 5px;
    line-height: 60px;
    font-weight: 300;
}

.top-wrapper p {
    font-size: 28px;
    font-weight: 200;
}

.header-left {
    font-size: 15px;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 80px;
    left: 200px;
}

.header-right {
    font-size: 15px;
    font-family: sans-serif;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 80px;
    right: 200px;
}

.header-txt {
    display: inline-block;
    text-align: center;
    width: 1000px;
}

a {
    text-decoration: none;
    color: white;
}

.login {
    margin: 10px;
}

.signup {
    padding: 7px 15px;
    border: 1px solid white;
    border-radius: 20px;
}

.btn-wrapper {
    margin: 20px 0;
  }
  

.btn {
    padding: 8px 24px;
    color: white;
    border-radius: 20px;
    background-color: #FF6666;
  }
  
  .btn:hover {
    opacity: 0.8;
  }

  .works {
    padding: 10px 0;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .work-wrapper {
    padding: 10px 0;
    background-color: #f7f7f7;
    text-align: center;
  }

  .work-wrapper p {
    text-align: left;
  }

  .work-icon {
    position: relative;
  }
  
  .top-txt {
    position: absolute;
    top: 190px;
    left: 50px;
    padding: 3px 20px;
    border-radius: 20px;
    color: white;
    font-size: 12px;
    font-family: sans-serif;
    background-color: #FF6666;
    font-weight: 100;
  }


  .title-txt {
    position: absolute;
    top: 210px;
    left: 50px;
    letter-spacing: 2px;
    width: 100%;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: 500;
  }

  .txt-contents {
    position: absolute;
    top: 290px;
    left: 50px;
    width: 100%;
    color: white;
    letter-spacing: 1px;
    font-weight: 100;
    opacity: 0.8;
  }

  .heading h2 {
      color: black;
      font-family: sans-serif;
      font-weight: 200;
      margin-top: 20px;
  }

  .partners {
    padding: 20px 0;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

.partner-wrapper {
  padding: 20px 0;
  background-color: #f7f7f7;
  text-align: center;
}

.partner-icon {
    position: relative;
}

.fa-music {
    color: #f7f7f7;
    background-color: #FF6666;
    padding: 6px;
    position: absolute;
    top: 90px;
    right: 80px;
    border: 3px solid #f7f7f7;
    border-radius: 50%;
}

.fa-pencil-alt {
    color: #f7f7f7;
    background-color: #66CDAA;
    padding: 6px;
    position: absolute;
    top: 90px;
    right: 80px;
    border: 3px solid #f7f7f7;
    border-radius: 50%;
}

.fa-camera {
    color: #f7f7f7;
    background-color: #FFA500   ;
    padding: 6px;
    position: absolute;
    top: 90px;
    right: 80px;
    border: 3px solid #f7f7f7;
    border-radius: 50%;
}

.fa-plane {
    color: #f7f7f7;
    background-color: #00BFFF;
    padding: 6px;
    position: absolute;
    top: 90px;
    right: 80px;
    border: 3px solid #f7f7f7;
    border-radius: 50%;
    transform: rotate( 320deg );
}

.border_radius {
    border-radius: 50%;
    width: 120px;
    height: 120px;
}

.partner-txt {
    font-family: sans-serif
}

.partner-txt h3 {
    font-weight: 600;
}

.partner-txt p {
    opacity: 0.6;
}

.other-partner {
    clear: both;
    padding: 50px;
    margin:  0 auto;
    width: 100%;
}

.other-partner a {
    padding: 12px 12px;
    font-size: 15px;
    color: #FF6666;
    border: 2px solid #FF6666;
    border-radius: 70px;
    text-align: center;
    font-family: sans-serif;
}

.other-partner a:hover {
    opacity: 0.8;
}

.activity-wrapper {
    padding: 20px 0;
    text-align: center;
    background-color: #f7f7f7;
}

.activities {
    padding: 20px 0;
    width: 950px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    grid-gap: 10px 0px;
    margin: 0 auto;
}

.activity-icon {
    position: relative;
}

.activity-text1 {
    position: absolute;
    top: 140px;
    left: 90px;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}

.activity-text2 {
    position: absolute;
    top: 140px;
    left: 90px;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}

.activity-text3 {
    position: absolute;
    top: 140px;
    left: 50px;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}

.activity-text4 {
    position: absolute;
    top: 140px;
    left: 130px;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}

.activity-text5 {
    position: absolute;
    top: 140px;
    left: 230px;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}

.activity-text6 {
    position: absolute;
    top: 140px;
    left: 230px;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}

.activity-text7 {
    position: absolute;
    top: 140px;
    left: 120px;
    color: white;
    font-size: 15px;
    font-family: sans-serif;
}

.activity1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

.activity2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.activity3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.activity4 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.activity5 {
    grid-column: 2 / 4;
    grid-row: 2 / 3
}

.activity6 {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}

.activity7 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.form-wrapper {
    padding-top: 20px 0;
    background-color: #f7f7f7;
    text-align: center;
    margin: 0 auto;
}

.form-wrapper h1 {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 25px;
    width: 950px;
    margin: 0 auto;
}

.form-wrapper p {
    font-family: sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding-top: 15px;
    width: 950px;
    color: gray;
    margin: 0 auto;
}

.form-wrapper a {
    font-family: sans-serif;
    font-weight: 700;
    background-color: #FF6666;
    font-size: 12px;
    color: white;
    padding: 3px 30px;
    width: 950px;
    border: 8px solid #FF6666;
    border-radius: 70px;
}

.form-wrapper a:hover {
    opacity: 0.8;
}

.forms {
    padding: 30px 0;
    display: inline-block;
    text-align: center;
    width: 950px;
}

.txt-form {
    padding: 12px 5px;
}

.footer-wrapper {
    padding-top: 10px 0;
    background-color: #f7f7f7;
    text-align: center;
    border-top: solid 2px #FF6666;
}

.footers {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: 0 auto;
}

.footer-txt ul {
    list-style: none;
    margin: 0 auto;
}

ul li {
    text-align: left;
}

li a {
    font-family: sans-serif;
    color: gray;
    opacity: 0.7;
    line-height: 25px;
}

ul li:hover {
    opacity: 0.5;
}

.company {
    padding-right: 125px;
}

.comp {
    padding-right: 30px;
}

.dreamshare {
    color: #FF6666;
}

.footer-txt h1 {
    font-size: 15px;
    font-weight: 500;
    font-family: sans-serif;
}

.part, .design, .comp {
    color: gray;
}

.design {
    padding-left: 40px;
    margin-bottom: 5px;
}

.footer-txt h3 {
    font-size: 10px;
    font-family: sans-serif;
    opacity: 0.3;
}

.part {
    padding-right: 180px;
}

.design-txt {
    padding-left: 100px;
}