/* line 3, ../sass/test.scss */
* {
  box-sizing: border-box;
}

/* line 7, ../sass/test.scss */
body {
  margin: 0;
}

/* line 11, ../sass/test.scss */
.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}

/* line 18, ../sass/test.scss */
.top-wrapper {
  padding: 200px 0;
  width: 100%;
  background-image: url(../images/Background.png);
  background-size: cover;
  text-align: center;
  color: white;
  font-family: sans-serif;
  position: relative;
}

/* line 29, ../sass/test.scss */
.top-wrapper h1 {
  font-size: 60px;
  letter-spacing: 5px;
  line-height: 60px;
  font-weight: 300;
}

/* line 36, ../sass/test.scss */
.top-wrapper p {
  font-size: 28px;
  font-weight: 200;
}

/* line 41, ../sass/test.scss */
.header-left {
  font-size: 15px;
  font-family: sans-serif;
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 80px;
  left: 200px;
}

/* line 51, ../sass/test.scss */
.header-right {
  font-size: 15px;
  font-family: sans-serif;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  top: 80px;
  right: 200px;
}

/* line 61, ../sass/test.scss */
.header-txt {
  display: inline-block;
  text-align: center;
  width: 1000px;
}

/* line 67, ../sass/test.scss */
a {
  text-decoration: none;
  color: white;
}

/* line 72, ../sass/test.scss */
.login {
  margin: 10px;
}

/* line 76, ../sass/test.scss */
.signup {
  padding: 7px 15px;
  border: 1px solid white;
  border-radius: 20px;
}

/* line 82, ../sass/test.scss */
.btn-wrapper {
  margin: 20px 0;
}

/* line 87, ../sass/test.scss */
.btn {
  padding: 8px 24px;
  color: white;
  border-radius: 20px;
  background-color: #FF6666;
}

/* line 94, ../sass/test.scss */
.btn:hover {
  opacity: 0.8;
}

/* line 98, ../sass/test.scss */
.works {
  padding: 10px 0;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

/* line 106, ../sass/test.scss */
.work-wrapper {
  padding: 10px 0;
  background-color: #f7f7f7;
  text-align: center;
}

/* line 112, ../sass/test.scss */
.work-wrapper p {
  text-align: left;
}

/* line 116, ../sass/test.scss */
.work-icon {
  position: relative;
}

/* line 120, ../sass/test.scss */
.top-txt {
  position: absolute;
  top: 190px;
  left: 50px;
  padding: 3px 20px;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  font-family: sans-serif;
  background-color: #FF6666;
  font-weight: 100;
}

/* line 134, ../sass/test.scss */
.title-txt {
  position: absolute;
  top: 210px;
  left: 50px;
  letter-spacing: 2px;
  width: 100%;
  color: white;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: 500;
}

/* line 146, ../sass/test.scss */
.txt-contents {
  position: absolute;
  top: 290px;
  left: 50px;
  width: 100%;
  color: white;
  letter-spacing: 1px;
  font-weight: 100;
  opacity: 0.8;
}

/* line 157, ../sass/test.scss */
.heading h2 {
  color: black;
  font-family: sans-serif;
  font-weight: 200;
  margin-top: 20px;
}

/* line 164, ../sass/test.scss */
.partners {
  padding: 20px 0;
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

/* line 172, ../sass/test.scss */
.partner-wrapper {
  padding: 20px 0;
  background-color: #f7f7f7;
  text-align: center;
}

/* line 178, ../sass/test.scss */
.partner-icon {
  position: relative;
}

/* line 182, ../sass/test.scss */
.fa-music {
  color: #f7f7f7;
  background-color: #FF6666;
  padding: 6px;
  position: absolute;
  top: 90px;
  right: 80px;
  border: 3px solid #f7f7f7;
  border-radius: 50%;
}

/* line 193, ../sass/test.scss */
.fa-pencil-alt {
  color: #f7f7f7;
  background-color: #66CDAA;
  padding: 6px;
  position: absolute;
  top: 90px;
  right: 80px;
  border: 3px solid #f7f7f7;
  border-radius: 50%;
}

/* line 204, ../sass/test.scss */
.fa-camera {
  color: #f7f7f7;
  background-color: #FFA500;
  padding: 6px;
  position: absolute;
  top: 90px;
  right: 80px;
  border: 3px solid #f7f7f7;
  border-radius: 50%;
}

/* line 215, ../sass/test.scss */
.fa-plane {
  color: #f7f7f7;
  background-color: #00BFFF;
  padding: 6px;
  position: absolute;
  top: 90px;
  right: 80px;
  border: 3px solid #f7f7f7;
  border-radius: 50%;
  transform: rotate(320deg);
}

/* line 227, ../sass/test.scss */
.border_radius {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

/* line 233, ../sass/test.scss */
.partner-txt {
  font-family: sans-serif;
}

/* line 237, ../sass/test.scss */
.partner-txt h3 {
  font-weight: 600;
}

/* line 241, ../sass/test.scss */
.partner-txt p {
  opacity: 0.6;
}

/* line 245, ../sass/test.scss */
.other-partner {
  clear: both;
  padding: 50px;
  margin: 0 auto;
  width: 100%;
}

/* line 252, ../sass/test.scss */
.other-partner a {
  padding: 12px 12px;
  font-size: 15px;
  color: #FF6666;
  border: 2px solid #FF6666;
  border-radius: 70px;
  text-align: center;
  font-family: sans-serif;
}

/* line 262, ../sass/test.scss */
.other-partner a:hover {
  opacity: 0.8;
}

/* line 266, ../sass/test.scss */
.activity-wrapper {
  padding: 20px 0;
  text-align: center;
  background-color: #f7f7f7;
}

/* line 272, ../sass/test.scss */
.activities {
  padding: 20px 0;
  width: 950px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
  grid-gap: 10px 0px;
  margin: 0 auto;
}

/* line 283, ../sass/test.scss */
.activity-icon {
  position: relative;
}

/* line 287, ../sass/test.scss */
.activity-text1 {
  position: absolute;
  top: 140px;
  left: 90px;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
}

/* line 296, ../sass/test.scss */
.activity-text2 {
  position: absolute;
  top: 140px;
  left: 90px;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
}

/* line 305, ../sass/test.scss */
.activity-text3 {
  position: absolute;
  top: 140px;
  left: 50px;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
}

/* line 314, ../sass/test.scss */
.activity-text4 {
  position: absolute;
  top: 140px;
  left: 130px;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
}

/* line 323, ../sass/test.scss */
.activity-text5 {
  position: absolute;
  top: 140px;
  left: 230px;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
}

/* line 332, ../sass/test.scss */
.activity-text6 {
  position: absolute;
  top: 140px;
  left: 230px;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
}

/* line 341, ../sass/test.scss */
.activity-text7 {
  position: absolute;
  top: 140px;
  left: 120px;
  color: white;
  font-size: 15px;
  font-family: sans-serif;
}

/* line 350, ../sass/test.scss */
.activity1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

/* line 355, ../sass/test.scss */
.activity2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

/* line 360, ../sass/test.scss */
.activity3 {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
}

/* line 365, ../sass/test.scss */
.activity4 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

/* line 370, ../sass/test.scss */
.activity5 {
  grid-column: 2 / 4;
  grid-row: 2/3;
}

/* line 375, ../sass/test.scss */
.activity6 {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
}

/* line 380, ../sass/test.scss */
.activity7 {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

/* line 385, ../sass/test.scss */
.form-wrapper {
  padding-top: 20px 0;
  background-color: #f7f7f7;
  text-align: center;
  margin: 0 auto;
}

/* line 392, ../sass/test.scss */
.form-wrapper h1 {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 25px;
  width: 950px;
  margin: 0 auto;
}

/* line 400, ../sass/test.scss */
.form-wrapper p {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 20px;
  padding-top: 15px;
  width: 950px;
  color: gray;
  margin: 0 auto;
}

/* line 410, ../sass/test.scss */
.form-wrapper a {
  font-family: sans-serif;
  font-weight: 700;
  background-color: #FF6666;
  font-size: 12px;
  color: white;
  padding: 3px 30px;
  width: 950px;
  border: 8px solid #FF6666;
  border-radius: 70px;
}

/* line 422, ../sass/test.scss */
.form-wrapper a:hover {
  opacity: 0.8;
}

/* line 426, ../sass/test.scss */
.forms {
  padding: 30px 0;
  display: inline-block;
  text-align: center;
  width: 950px;
}

/* line 433, ../sass/test.scss */
.txt-form {
  padding: 12px 5px;
}

/* line 437, ../sass/test.scss */
.footer-wrapper {
  padding-top: 10px 0;
  background-color: #f7f7f7;
  text-align: center;
  border-top: solid 2px #FF6666;
}

/* line 444, ../sass/test.scss */
.footers {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  width: 1000px;
  margin: 0 auto;
}

/* line 452, ../sass/test.scss */
.footer-txt ul {
  list-style: none;
  margin: 0 auto;
}

/* line 457, ../sass/test.scss */
ul li {
  text-align: left;
}

/* line 461, ../sass/test.scss */
li a {
  font-family: sans-serif;
  color: gray;
  opacity: 0.7;
  line-height: 25px;
}

/* line 468, ../sass/test.scss */
ul li:hover {
  opacity: 0.5;
}

/* line 472, ../sass/test.scss */
.company {
  padding-right: 125px;
}

/* line 476, ../sass/test.scss */
.comp {
  padding-right: 30px;
}

/* line 480, ../sass/test.scss */
.dreamshare {
  color: #FF6666;
}

/* line 484, ../sass/test.scss */
.footer-txt h1 {
  font-size: 15px;
  font-weight: 500;
  font-family: sans-serif;
}

/* line 490, ../sass/test.scss */
.part, .design, .comp {
  color: gray;
}

/* line 494, ../sass/test.scss */
.design {
  padding-left: 40px;
  margin-bottom: 5px;
}

/* line 499, ../sass/test.scss */
.footer-txt h3 {
  font-size: 10px;
  font-family: sans-serif;
  opacity: 0.3;
}

/* line 505, ../sass/test.scss */
.part {
  padding-right: 180px;
}

/* line 509, ../sass/test.scss */
.design-txt {
  padding-left: 100px;
}
